body{
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    background-color: darkslategray;
    position: sticky;
    text-align: center;
    top:0px;
    z-index: 10;
}

li {
    display: inline-block;
}

li a, .dropbtn {
    display: inline-block;
    padding: 14px 16px;
    color: lightgray;
    text-align: center;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: darkslategray;
}

.dropdown::content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
    display: block;
}
.imgcontainer {
    position: relative;
    text-align: center;
    color: white;
}  
.imgtitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.imgtitle {
    font-size: 7vw;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
  }
.subtitle {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.subtitle {
    font-size: 2vw;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
  }
  